@{
    ViewData["Title"] = "LDS Movies Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out this amazing list of LDS Movies you and your family will love.</a>.</p>
</div>

<partial name="carousel.cshtml" />
